.page_wrapper {
  min-height: 900px;
}

.page_wrapper::after {
  content: "";
  display: table;
  clear: both;
}

.title {
  margin-top: 5%;
}

.products-box {
    height: 600px;
    /*border: 2px solid lightblue;*/
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: cover;
    text-align: left;
    padding: 3% 1%;
    position: relative;
    float: left;
    margin: 5% 4%;
}
.products-box:hover {
  background-color: lightblue;
}

.margin-box {
    margin: 0 4%;
  }
  
  .icon {
    font-size: 50px;
    color: #02878A;
  }

  .products-box img {
    width: 100%;
  }
  
  .products-box h3 {
    font-size: 20px;
    margin: 40px 0 30px 0;
    color: #02878A;
  }
  
  .products-box p {
    min-height: 150px;
    font-size: 15px;
    line-height: 25px;
  }
  
  .products-box p::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .products-box hr {
    background-color: #333333;
  }
  
  .find_more_container {
    width: 100%;
    height: 80px;
    position: relative;
  }
  
  .products-box a {
    width: 150px;
    padding: 3% 7%;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(0,172,187,1) 0%, rgba(9,119,137,1) 69%, rgba(16,83,102,1) 100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }
  
  .products-box:hover .find_more {
    display: block;
  }